:root {
    /* Global colors */
    --slideshow-white: #F3F3F3;
    --slideshow-indicator-unselected-white: #f5f5f569;
    --slideshow-social-background-black: #35353591;
    --slideshow-gradient-background: linear-gradient(135deg, #65dae7, #2463cf);

    /* Global variables */
    --image-slideshow-area: 35%;
    --sign-up-area: calc(100% - var(--image-slideshow-area));
    --help-dialog-fade: 175ms;

    font-size: 16px;
}

/* Colors for light mode */

:root.light {
    --text-color: #262626;
    --sign-up-background: #ebebeb;
    --form-background: #f5f5f5;
    --form-shadow: #5757573a;
    --input-color: #969696;
    --blue-accent: #3886df;
    --blue-focus-accent: #2066cf;
    --invalid-accent: #cc4545;
    --valid-accent: #29ac6a;
    --terms-and-service-text: #797979;
    --help-dialog-box-color: #000000b6;
}

/* General styles */

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--blue-accent);
    color: var(--form-background);
}

*:focus {
    transition: 100ms;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
p {
    margin: 0;
}

p,
input,
footer {
    color: var(--text-color);
}

ul {
    margin: 5px 0 7px 0;
    padding-left: 10px;
}

li::marker {
    content: "\2022   ";
}

.main-container {
    display: flex;
    height: 100vh;
}

/* Slideshow area */

.image-slideshow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--image-slideshow-area);
    z-index: 1;
}

.image-slideshow {
    position: absolute;
    background: var(--slideshow-gradient-background);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.social-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: var(--slideshow-social-background-black);
    padding: 55px 0;
    width: 100%;
}

.social-title {
    text-align: center;
    color: var(--slideshow-white);
    font-size: 4.5rem;
    user-select: none;
}

.social-icon {
    width: 175px;
    height: 175px;
    fill: var(--slideshow-white);
}

.image-slideshow-indicator-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.image-slideshow-indicator {
    background-color: var(--slideshow-indicator-unselected-white);
    width: 13px;
    height: 13px;
    border-radius: 100%;

    cursor: pointer;
}

.image-slideshow-indicator.selected {
    background-color: var(--slideshow-white);
}

/* Sign up area */

.sign-up-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    position: relative;
    width: var(--sign-up-area);
    background-color: var(--sign-up-background);
}

.sign-up-container > div,
.sign-up-container > form {
    padding-right: 90px;
    padding-left: 90px;
}

/* Upper area */

.upper-area {
    font-weight: 300;
    font-size: 1.3rem;
    align-self: end;
    margin-bottom: 45px;
}

.upper-area > p:not(:last-child) {
    margin-bottom: 30px;
}

/* Hacer animaciones de CSS aquí */

.theme-container {
    position: absolute;
    top: 15px;
    right: 20px;
}

.theme-icon {
    scale: 1.5;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    transition: 100ms;
}

.theme-container:hover > .theme-icon {
    opacity: 1;
    transition: 100ms;
}

.theme-text {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 115px;
    top: 0;
    left: -80px;
    opacity: 0;
    cursor: pointer;

    transition: 300ms;

}

.theme-container:hover > .theme-text {
    font-weight: 500;
    visibility: visible;
    left: -120px;
    opacity: 100;

    transition: 300ms;
}

/* Form area */

#main-form {
    background-color: var(--form-background);
    box-shadow: 0px 0px 30px 13px var(--form-shadow);
    padding-top: 45px;
    padding-bottom: 45px;
}


.inputs-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 75px;
    max-width: 775px;
}

.input-container {
    position: relative;
}

.input-container > label,
input:placeholder-shown + label {
    position: absolute;
    left: 15px;
    top: calc(50% - 0.5rem);
    font-size: 1rem;
    color: var(--input-color);
    font-weight: 400;
    cursor: text;
    user-select: none;

    transition: 100ms;
}

.input-container > input {
    width: 100%;
    
    position: relative;
    color: var(--text-color);
    font-size: 1rem;
    border: 1.5px solid var(--input-color);
    background-color: var(--form-background);
    padding: 27px 39px 6px 12px;
    border-radius: 7px;
}

.validation-container {
    position: absolute;
    margin-top: 3px;
    left: 5px;
    display: none;
    color: var(--invalid-accent);
}

.info-validation {
    font-size: 0.75rem;
    font-weight: 400;
}

.help-validation {
    position: absolute;
    display: inline-block;
    top: -1px;
    scale: 0.7;
    cursor: help;
}

.help-dialog {
    width: 175px;
    position: absolute;
    top: 20px;
    background-color: var(--help-dialog-box-color);
    color: var(--form-background);
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 0.85rem;
    z-index: 1;
    cursor: default;
    opacity: 0;
    visibility: hidden;

    transition: var(--help-dialog-fade);
}

.help-validation:hover ~ .help-dialog {
    opacity: 1;
    visibility: visible;

    transition: var(--help-dialog-fade);
}

.icon-validation {
    position: absolute;
    top: 16px;
    right: 10px;
    visibility: visible;
    color: var(--form-background);

    transition: 100ms;
}

.text-limit {
    display: block;
    position: absolute;
    top: 9px;
    font-size: 0.75rem;
    color: var(--input-color);
    right: 14px;
    visibility: hidden;
    cursor: text;
    user-select: none;
}



/* Input status: */

/* Focus */

input:focus {
    outline: none;
    box-shadow: 0 0 10px -2px var(--blue-accent);
    border: 1.5px solid var(--blue-accent);
}

input:focus + label,
input:not(:placeholder-shown) + label {
    font-size: 0.75rem;
    font-weight: 500;
    top: 9px;
}

input:focus + label {
    color: var(--blue-accent);
}

input:focus ~ .text-limit {
    color: var(--blue-accent);
    visibility: visible;
}

input:focus ~ .icon-validation {
    top: 24px;
    scale: 0.8;
}

/* Valid value */

input[data-valueState="valid"] {
    border-color: var(--valid-accent);
}

input[data-valueState="valid"] + label,
input[data-valueState="valid"] ~ .text-limit,
input[data-valueState="valid"] ~ .icon-validation {
    color: var(--valid-accent);
}

/* Invalid value */

input[data-valueState="invalid"] {
    border-color: var(--invalid-accent);
}

input[data-valueState="invalid"] + label,
input[data-valueState="invalid"] ~ .text-limit,
input[data-valueState="invalid"] ~ .icon-validation {
    color: var(--invalid-accent);
}

input[data-valueState="invalid"] ~ .validation-container {
    display: block;
}

/*  None value */
input[data-valueState="none"] ~ .icon-validation {
    visibility: hidden;
}


/* Lower and footer */

.lower-area {
    margin-top: 45px;
}

.create-account-button {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--form-background);
    background: var(--blue-accent);
    border: none;
    border-radius: 10px;
    padding: 17px 40px;
    box-shadow: 0px 0px 18px 5px var(--form-shadow);

    cursor: pointer;
    transition: scale 100ms;
}

.create-account-button:hover,
.create-account-button:focus {
    scale: 1.03;
    transition: scale 100ms;
}

.create-account-button:active {
    background-color: var(--blue-focus-accent);
}

.create-account-button:focus {
    outline: 2px solid var(--form-background);
    box-shadow: 0 0 15px 0px var(--blue-accent);
}

.terms-of-service {
    display: block;
    font-size: 0.75rem;
    color: var(--terms-and-service-text);
    width: 300px;
}

.log-in-text {
    margin-top: 25px;
    font-size: 1rem;
}

a {
    padding: 0 2px;
}

a:link,
a:visited {
    color: var(--blue-accent);
    text-decoration: none;
}

a:focus {
    outline: 1px solid var(--blue-accent);
    border: 1px solid none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--blue-accent);
}

.footer-link:link,
.footer-link:visited {
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 0px;
    
    background-color: var(--form-background);
    box-shadow: 0px 0px 18px 5px var(--form-shadow);
    color: var(--text-color);
    font-size: 1.05rem;
    width: 100%;
    text-align: center;
    padding: 10px;
}