:root {
    /* Global colors */
    --slideshow-white: #F3F3F3;
    --slideshow-indicator-unselected-white: #f5f5f569;
    --slideshow-social-background-black: #35353591;
    --slideshow-gradient-background: linear-gradient(135deg, #65dae7, #2463cf);

    /* Global variables */
    --image-slideshow-area: 35%;
    --sign-up-area: calc(100% - var(--image-slideshow-area));

    font-size: 16px;
}

/* Colors for light mode */

:root.light {
    --text-color: #262626;
    --sign-up-background: #ebebeb;
    --form-background: #f5f5f5;
    --form-shadow: #5757573a;
    --input-color: #969696;
    --blue-accent: #3886df;
    --blue-focus-accent: #2066cf;
    --red-accent: #cc4545;
    --terms-and-service-text: #797979;
}

/* General styles */

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--blue-accent);
    color: var(--form-background);
}

*:focus {
    transition: 100ms;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
p {
    margin: 0;
}

p,
input,
footer {
    color: var(--text-color);
}

.main-container {
    display: flex;
    height: 100vh;
}

/* Slideshow area */

.image-slideshow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--image-slideshow-area);
    z-index: 1;
}

.image-slideshow {
    position: absolute;
    background: var(--slideshow-gradient-background);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.social-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: var(--slideshow-social-background-black);
    padding: 55px 0;
    width: 100%;
}

.social-title {
    text-align: center;
    color: var(--slideshow-white);
    font-size: 4.5rem;
    user-select: none;
}

.social-icon {
    width: 175px;
    height: 175px;
    fill: var(--slideshow-white);
}

.image-slideshow-indicator-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.image-slideshow-indicator {
    background-color: var(--slideshow-indicator-unselected-white);
    width: 13px;
    height: 13px;
    border-radius: 100%;

    cursor: pointer;
}

.image-slideshow-indicator.selected {
    background-color: var(--slideshow-white);
}

/* Sign up area */

.sign-up-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    position: relative;
    width: var(--sign-up-area);
    background-color: var(--sign-up-background);
}

.sign-up-container > * {
    padding-right: 90px;
    padding-left: 90px;
}

/* Upper area */

.upper-area {
    font-weight: 300;
    font-size: 1.3rem;
    align-self: end;
    margin-bottom: 45px;
}

.upper-area > p:not(:last-child) {
    margin-bottom: 30px;
}

/* Form area */

#main-form {
    background-color: var(--form-background);
    box-shadow: 0px 0px 30px 13px var(--form-shadow);
    padding-top: 45px;
    padding-bottom: 45px;
}


.inputs-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 75px;
    max-width: 775px;
}

.input-container {
    position: relative;
}

.input-container > label {
    position: absolute;
    left: 15px;
    top: calc(50% - 0.5rem);
    font-size: 1rem;
    color: var(--input-color);
    font-weight: 400;
    cursor: text;
    user-select: none;

    transition: 100ms;
}

.input-container > input {
    width: 100%;
    
    color: var(--text-color);
    font-size: 1rem;
    border: 1.5px solid var(--input-color);
    background-color: var(--form-background);
    padding: 27px 12px 6px 12px;
    border-radius: 7px;
}

.info-validation {
    position: absolute;

    font-size: 0.75rem;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--red-accent);
}

/* Input status */

input:focus {
    outline: none;
    box-shadow: 0 0 10px -2px var(--blue-accent);
    border: 1.5px solid var(--blue-accent);
}

input:focus + label {
    font-size: 0.75rem;
    top: 9px;
    color: var(--blue-accent);
}

input:valid ~ .info-validation {
    display: none;
}

input:invalid {
    border: 1.5px solid var(--red-accent);
}

input:invalid + label {
    color: var(--red-accent);
}

input:invalid ~ .info-validation {
    display: block;
}


/* Lower and footer */

.lower-area {
    margin-top: 45px;
}

.create-account-button {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--form-background);
    background: var(--blue-accent);
    border: none;
    border-radius: 10px;
    padding: 17px 40px;
    box-shadow: 0px 0px 18px 5px var(--form-shadow);

    cursor: pointer;
    transition: scale 100ms;
}

.create-account-button:hover,
.create-account-button:focus {
    scale: 1.03;
    transition: scale 100ms;
}

.create-account-button:active {
    background-color: var(--blue-focus-accent);
}

.create-account-button:focus {
    outline: 2px solid var(--form-background);
    box-shadow: 0 0 15px 0px var(--blue-accent);
}

.terms-of-service {
    display: block;
    font-size: 0.75rem;
    color: var(--terms-and-service-text);
    width: 300px;
}

.log-in-text {
    margin-top: 25px;
    font-size: 1rem;
}

a {
    padding: 0 2px;
}

a:link,
a:visited {
    color: var(--blue-accent);
    text-decoration: none;
}

a:focus {
    outline: 1px solid var(--blue-accent);
    border: 1px solid none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--blue-accent);
}

.footer-link:link,
.footer-link:visited {
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 0px;
    
    background-color: var(--text-color);
    color: var(--form-background);
    font-size: 1.05rem;
    width: 100%;
    text-align: center;
    padding: 10px;
}