:root {
    /* Global colors */
    --slideshow-white: #F3F3F3;
    --slideshow-indicator-unselected-white: #f5f5f569;
    --slideshow-social-background-black: #35353591;
    --slideshow-gradient-background: linear-gradient(135deg, #65dae7, #2463cf);
}

:root.light {
    --text-color: #262626;
    --sign-up-background: #ebebeb;
    --form-background: #f5f5f5;
    --form-shadow: #57575726;
    --input-color: #AAAAAA;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
p {
    margin: 0;
}

p {
    color: var(--text-color);
    font-weight: 300;
    font-size: 25px;
}

.main-container {
    display: flex;
    height: 100vh;
}

/* Slideshow area */

.image-slideshow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    z-index: 1;
}

.image-slideshow {
    position: absolute;
    background: var(--slideshow-gradient-background);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.social-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: var(--slideshow-social-background-black);
    padding: 55px 0;
    width: 100%;
}

.social-title {
    text-align: center;
    color: var(--slideshow-white);
    font-size: 80px;
}

.social-icon {
    width: 175px;
    height: 175px;
    fill: var(--slideshow-white);
}

.image-slideshow-indicator-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.image-slideshow-indicator {
    background-color: var(--slideshow-indicator-unselected-white);
    width: 13px;
    height: 13px;
    border-radius: 100%;

    cursor: pointer;
}

.image-slideshow-indicator.selected {
    background-color: var(--slideshow-white);
}

/* Sign up area */

.sign-up-container {
    width: 60%;
    background-color: var(--sign-up-background);
}

.sign-up-text {
    margin: 80px 75px;
}

.sign-up-text > p:not(:last-child) {
    margin-bottom: 30px;
}

.main-form-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 75px;

    padding: 60px 75px;
    background-color: var(--form-background);
    box-shadow: 0px 0px 18px 13px var(--form-shadow);
}

.input-container {
    position: relative;
}

.input-container > label {
    position: absolute;
    left: 15px;
    top: 10px;
    color: var(--input-color);
}

.input-container > input {
    width: 100%;

    color: var(--text-color);
    font-size: 20px;
    border: 1.5px solid var(--input-color);
    padding: 35px 15px 12px 15px;
    border-radius: 7px;
}